body{
    font-family: 'Dancing Script', cursive;
    font-family: 'Noto Serif', serif;
    margin: 0;
    background-color: black;
}
h1{
    font-size: 40px;
    color: rgb(87, 59, 25);
}
h2{
    color: rgb(91, 115, 116);
}
h3{
    color: darkorange;
}
p{
    color: darkgray;
}
.span-clr{
    color:rgb(197, 105, 38) ;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(rgb(243, 183, 161),salmon);
    color: white;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn:hover{
    box-shadow: 3px 3px 8px coral;
}
.flexible-content{
    display: flex;
    padding-left: 100px;
    padding-bottom: 60px;
}
.distance{
    padding-left: 150px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 70%;
    border-radius: 50%;
}

.top-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.middle-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item{
    width: 50%;
    padding: 10px;
    margin: 50px 50px;
    background-color: white;
    
}

.experience-item:hover{
    box-shadow: 10px 10px 40px gray;
}
#border-content1{
    border-left: 5px solid;
    border-image: linear-gradient(rgb(158, 13, 158),pink);
    border-image-slice: 1;

}
#border-content2{
    border-left: 5px solid;
    border-image: linear-gradient(rgb(243, 111, 96), rgb(230, 29, 129));
    border-image-slice: 1;

}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

footer{
    color: rgb(109, 107, 107);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}